@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null)
    {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item");
    Model.Classes.Add("col-sm-9");
    Model.Attributes.Add("role", "main");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");
}

@tag.StartElement

    <header class="col-sm-12">
        <div class="box-header">
            @Display(Model.Header)
        </div>
    </header>

    <div class="row">
        <div class="post-40 page type-page status-publish has-post-thumbnail hentry col-sm-12">
            <img src="http://koliber.org/files/konstrukcjaZnakuKoLiber_JPG-880x495.jpg" class="attachment-full-header wp-post-image" alt="KoLiberek" width="649" height="336">
            <div class="fancy-outline-wrapper">
                <div class="fancy-outline-header"></div>

                @if (Model.Meta != null) {
                    <div class="metadata">
                        @Display(Model.Meta)
                    </div>
                }

                <div class="entry-content fancy-outline-content">
                    @Display(Model.Content)
                </div>

            </div>

            @if (Model.Footer != null) {
                <footer>
                    @Display(Model.Footer)
                </footer>
            }

        </div>
    </div>

@tag.EndElement